body {
    background-color: #1B1734;
    color: lightgrey;
}

header {
    background-color: #420264;
    text-align: center;
}

header img {
    width: 10%;
}

.editing {
    color: #C11F67;
}

.logged a {
    text-decoration: none;
    color: darkgrey;
}

.logged a:hover {
    color: white;
}

.edit-back {
    text-decoration: none;
    color: #C11F67;
}

.edit-back:hover {
    text-decoration: underline;
    color: white;
}

.news-image {
    width: 30%;
    margin-right: 15px;
    margin-bottom: 5px;
}

#nav-menu {
    background-color: rgba(92, 3, 140, 0.75);
    text-transform: uppercase;
}

#content {
    min-height: 100vh;
}

#content h1, #content h2, #content h3 {
    font-weight: bold;
}

#content p {
    font-size: 20px;
}

#content ul {
    font-size: 20px;
}

.block {
    padding-top: 25px;
}

.block hr {
    border-top: 3px solid white;
}

.warning {
    color: #C11F67;
}

.address {
    text-align: right;
}

.date {
    font-size: 14px;
}

.games-screen {
    width: 20%;
    border-radius: 8px;
}

footer {
    background-color: #420264;
}

#carouselFallStuff {
    max-width: 30%;
}